<div class="app-body" *ngIf="invoices">
    <div class="title">
        <h1>Invoice Uploads</h1>
    </div>
    <app-file-input class="file-input"></app-file-input>
    <app-table class="table" [invoices]="invoices"></app-table>
</div>