.app-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        border-bottom: 2px solid #000000
    }
    .file-input {
        height: 20%;
    } 
    .table {
        height: 60%;
    }
}
