<div class="main-container" *ngIf="invoices?.length">
    <div class="title">
        <h2>Invoices</h2>
    </div>
    <div class="table">
        <div class="refresh-btn">
            <button class="btn" (click)="fetchData()">Refresh</button>
        </div>
        <div class="header">
            <span class="th" *ngFor="let header of headers">
                {{header}}
            </span>
        </div>
        <div class="table-body">
            <div class="tr" *ngFor="let invoice of invoices; let i = index" [ngClass]="{'change-bg-color': (i + 1) % 2 === 0}">
                <span class="td">{{invoice.internal_invoice_id}}</span>
                <span class="td">{{invoice.due_date}}</span>
                <span class="td">{{invoice.upload_date}}</span>
                <span class="td">{{invoice.amount}}</span>
                <span class="td">{{invoice.selling_price}}</span>
            </div>
        </div>
    </div>
</div>