.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
    }
    .table {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 80%;
        font-size: 24px;
        .refresh-btn {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin: 0.5vh 0 0.5vh 0;
            .btn {
                height: 5vh;
                width: 5vw;
                background: #02c64e;
                border: 1px solid #02c64e;
                border-radius: 6px;
                font-size: 18px;
                font-weight: 500;
                color: #ffffff;
            }
        }
        .header {
            display: flex;
            width: 100%;
            height: 5vh;
            font-weight: 900;
            background: rgb(103, 143, 218);
            .th {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
            }
        }
        .table-body {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            .tr {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                align-items: center;
                border-top: 1px solid #c9c9c9;
                .td {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 5vh;
                }
            }
            .change-bg-color {
                background: rgb(144, 174, 230);
            }
        }
    }
}