<div class="main-container">
    <div class="title">
        <h2>Upload File</h2>
    </div>
    <div class="input-form">
        <input type="text" class="file-path" [value]="fileName" readonly />
        <label class="browse-btn">
            <input type="file" (change)="onFileSelected($event)" />
            Choose File
        </label>
    </div>
    <div class="btn">
        <button class="upload-btn" (click)="uploadCSVFile()">Upload</button>
    </div>
</div>