.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    .title {
        display: flex;
        width: 100%;
        height: 20%;
        justify-content: center;
    }
    .input-form {
        display: flex;
        justify-content: center;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5vh;
        margin-top: 1vh;;
        .upload-btn {
            width: 38.5vw;
            height: 5vh;
            background: #02c64e;
            border: 1px solid #02c64e;
            border-radius: 6px;
            font-size: 18px;
            font-weight: 500;
            color: #ffffff;
        }
    }
    
    input[type="file"] {
        display: none;
    }
    
    .browse-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        color: #ffffff;
        border-radius: 6px;
        margin-left: 2vw;
        font-size: 18px;
        font-weight: 500;
        width: 6vw;
        background: #0068f1;
        border: 1px solid #0068f1;
        cursor: pointer;
    }
    
    .file-path {
        width: 30vw;
        font-size: 18px;
        font-weight: 200;
    }
}